.page {
  /* margin: 20px; */
}

.interactions {
  text-align: center;
  height: 50px;
}

.content {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 10px;
  right: 10px;
  bottom: 0px;
  overflow-y: scroll;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
